
@psc-app-base:              #EDF2F4;
@psc-app-base-alt:          #EAEAEA;
@psc-app-shadow:            @psc-app-base - 90%;
@psc-app-primary:           #62808E;
@psc-app-danger:            #B26262;
@psc-app-warning:           #D1D58E;
@psc-text-base:             #666666;
@psc-text-primary:          #F8F8F8;
@psc-text-danger:           #F8F8F8;
@psc-text-warning:          #666666;
@psc-control-base:          #F8F8F8;
@psc-control-border:        @psc-control-base - 45%;
@psc-control-base-alt:      #F6F4FC;
