/*
    Created on : Oct 17, 2015, 7:18:39 PM
    Author     : Achmat Toffa <achmat.toffa@gmail.com>
*/

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

.u200 {
  font-family: 'OpenSansLight', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.u400 {
  font-family: 'OpenSans', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

.u700 {
  font-family: 'OpenSansBold', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ModernPics';
  src: url('../fonts/ModernPictograms/modernpics.otf');
  font-weight: normal;
  font-style: normal;
}

.ui-ico {
  font-family: 'ModernPics', arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}