@import "font-scheme.less";
@import "color-scheme";

body {
  font-family: OpenSans, sans-serif;
  font-size: 14px;

  background-color: @psc-app-base;
}

#masthead {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  width: 100%;
  min-width: 320px;
  height: 140px;
  padding-top: 60px;
  margin-bottom: 0;
  z-index: 999;

  > .container {
    position: relative;
    margin: 15px auto;
  }
}

.container {
  width: 1170px
}

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-default {
  background-color: @psc-app-primary;
  border-color: @psc-app-primary;
  color: #EEE;
}