/*#3D4956

 rgba(0, 100, 100, 0)
*/

.root {
	-fx-base: #111;

	-fx-dark-text-color: #999;
	-fx-mid-text-color: #BBB;
	-fx-light-text-color: #DDD;

	-fx-default: #515D6D;
	-fx-default-b: #EDA678;
}


/* GRAPHS */

.default-color2.chart-series-area-fill {
	-fx-fill: transparent;
}

.default-color2.chart-series-area-line {
	-fx-stroke: #2AE564FF;
}

.default-color2.chart-area-symbol {
	-fx-background-color: #2AE564FF, derive(-fx-background, 10%);
}

.default-color1.chart-series-area-fill {
	-fx-fill: #FFFFFFBB;
}

.default-color1.chart-series-area-line {
	-fx-stroke: #FFFFFFEE;
}

.default-color1.chart-area-symbol {
	-fx-background-color: #FFFFFFBB;
}

.default-color0.chart-series-area-fill {
	-fx-fill: #2AE564AA;
}

.default-color0.chart-series-area-line {
	-fx-stroke: #2AE564AA;
}

.default-color0.chart-area-symbol {
	-fx-background-color: #2AE564AA;
}

.area-legend-symbol {
	-fx-background-insets: 0px, 1px;
	-fx-background-radius: 10px;
	-fx-padding: 3px;
}

.jfx-password-field {
	-fx-background-color: transparent;
}

.ut-toggle-btn {
	-fx-text-fill: -fx-default-b;
	-jfx-toggle-color: -fx-default-b;
	-jfx-toggle-line-color: derive(-fx-default-b, 40%);

	-jfx-untoggle-color: #FAFAFA;
	-jfx-untoggle-line-color: #999999;
}

.ut-default {
	-fx-background-color: -fx-default-b;
}

.ut-default:hover {
	-fx-background-color: derive(-fx-default-b, 20%);
}

.ut-default > .text {
	-fx-fill: #222;
}

.ut-default-b {
	-fx-background-color: -fx-default;
}

.ut-cancel:hover {
	-fx-background-color: derive(-fx-default, 20%);
}


.ut-action-btn {
	-fx-border-radius: 5em;
	-fx-background-radius: 5em;
}

.ut-injection-load-btn {
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}

.ut-injection-load-btn.accept-drop {
	-fx-background-color: #2AE564AA;
}

#uiInjectionFileVBox.accept-drop {
	-fx-background-color: derive(-fx-background, 10%);
}


.slider {
	-fx-control-inner-background: -fx-default-b;
}

.ut-menu-icon {

}

.ut-mouse-button {
	-fx-cursor: hand;
}

.ut-menu-icon-wrapper.selected {
	-fx-background-insets: 30 10 -10 10;
	-fx-background-color: -fx-default-b;
	-fx-background-radius: 50%;
}

.ut-progress-indicator {
	-fx-color: -fx-default-b;
}

.ut-progress-indicator > .spinner {
	-fx-stroke-width: 5;
}

.ut-percent-complete {
	-fx-text-fill: -fx-default-b;
}


.ut-region-btn {
	-fx-background-color: -fx-background;
	-fx-background-radius: 10;
}

.ut-region-btn:focused,
.ut-region-btn:selected {
	-fx-background-color: -fx-default-b, -fx-background;
}
